body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background: linear-gradient(to right, #add8ff, #dcccfd);
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

#profile-container {
  padding: 1vw;
  margin: 3vw;
  background: palegoldenrod;
  border: 0.5px dashed gray;
  border-radius: 15px;
  display: flex;
}

#profile-pic {
  padding: 4vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 222px;
  /* border-radius: 15%; */
}

#profile-text {
  padding: 4vw;
  /* color: darkblue; */
  text-align: center;
}

.social-links {
  max-height: 18px;
  max-width: 18px;
  vertical-align: top;
}

#twitter-icon {
  max-height: 24px;
  max-width: 24px;
  vertical-align: middle;
}

#nav-name {
  text-decoration: wavy;
  color: #6341a9;
  text-shadow: 0.13em 0.11em #73b9fa;
  font-size: 3em;
}
