body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background: linear-gradient(to right, #add8ff, #dcccfd);
  margin-top: 98.58px;
  margin-bottom: 10vh;
}

a {
  text-decoration: none;
  color: #6341a9;
}

a:hover {
  cursor: pointer;
}

/* a:link {

}

a:visited {

} */

nav {
  z-index: 2;
  position: fixed;
  top: 0;
  /* background-color: #73b9fa; */
  background: linear-gradient(to right, #add8ff, #dcccfd);
  width: 100%;
  text-shadow: 0.08em 0.14em #73b9fa;
}

nav a:hover,
#nav-name a:hover {
  font-weight: bolder;
  text-shadow: 0.08em 0.14em palegoldenrod;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1 1.5;
  font-weight: bold;
  margin: 0.4em;
}

#nav-name {
  color: #6341a9;
  font-size: 3em;
  padding: 0.2em;
  flex-wrap: nowrap;
}
#nav-name a {
  text-shadow: 0.08em 0.11em #73b9fa;
}

#navlink-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  height: 6vw;
  width: 100vw;
}
#social-container {
  display: block;
  text-align: center;
  height: 6vw;
}

#footer {
  z-index: 2;
  position: fixed;
  bottom: 0;
  background: linear-gradient(to right, #add8ff, #dcccfd);
  width: 100%;
  text-shadow: 0.08em 0.14em #73b9fa;
}

#profile-container {
  padding: 1vw;
  margin: 12vw 3vw;
  background: palegoldenrod;
  border: 0.5px dashed gray;
  border-radius: 15px;
  display: flex;
}

#profile-pic {
  padding: 4vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 222px;
}

#profile-text {
  padding: 4vw;
  text-align: center;
}

.social-links {
  max-height: 18px;
  max-width: 18px;
  vertical-align: top;
}

#twitter-icon {
  max-height: 24px;
  max-width: 24px;
}
